NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-2_XXXXX
NEXT_PUBLIC_COGNITO_CLIENT_ID=XXXXX
NEXT_PUBLIC_SSE_URL=https://p2ci72n4le6v2ge3ni4ehwp7ce0eztwy.lambda-url.ap-northeast-2.on.aws/
NEXT_PUBLIC_USE_MOCK_AUTH=false
