NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_DOMAIN=
NEXT_PUBLIC_APP_URL=http://localhost:3000
ORCHESTRATOR_URL=
NEXT_PUBLIC_REPORT_API_URL=
NEXT_PUBLIC_USE_MOCK_AUTH=false
