NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-2_XXXXX
NEXT_PUBLIC_COGNITO_CLIENT_ID=XXXXX
NEXT_PUBLIC_COGNITO_DOMAIN=YOUR_COGNITO_DOMAIN.auth.ap-northeast-2.amazoncognito.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SSE_URL=https://YOUR_LAMBDA_FUNCTION_URL.lambda-url.ap-northeast-2.on.aws/
NEXT_PUBLIC_USE_MOCK_AUTH=false
